---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components'

interface Props {
    icon: string;
    headline: string;
}

const {icon, headline} = Astro.props;
---
<div class="benefit-card">
    <Icon class="centered-icon" name={icon} />
    <h3>{headline}</h3>
    <p class="component-text">
        <slot />
    </p>

</div>

<style>
    h3 {
        font-size: 1.3em;
        min-height: 2.2em;
    }
    .centered-icon {
        color: var(--bootcamp-dark-orange);
        font-size: 5em;
    }
    .benefit-card {
        text-align: center;
        border: 1px dashed var(--bootcamp-dark-orange);
        border-radius: 40px;
        padding: 1.1em 1em 1.5em;
    }
    .component-text {
        text-align: center;
        line-height: 1.8em;
        font-weight: 300;
        font-size: 0.9em;
        margin: 0;
    }
</style>
