---

---

<div class="container">
    <div class="topic">
        Mach mit!
    </div>
    <h2 class="headline">
        Interesse geweckt?
    </h2>
    <a href="" class="button-container">
        <button class="button-main transition btn-booking">Zur Buchung</button>
    </a>
</div>


<style>
    .btn-booking{
        max-width: 350px;
        margin-top: 0;
    }
</style>
