---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    number: number;
    descr: string;
}

const {number, descr} = Astro.props;
---
<div class="stat-card">
    <div class="number" data-animateDuration="2000">{number}</div>
    <div class="descr">{descr}</div>
</div>

<style>
    .stat-card{
        margin: 0 1.5em;
        padding: 2.2em 0;
        text-align: center;
        border: 1px dashed var(--bootcamp-dark-orange);
        border-radius: 60px;
    }
    .number{
        padding: 0.1em 0 0.5em;
        color: var(--bootcamp-light-orange);
        font-size: 3.5em;
    }
    .descr{
        color: var(--bootcamp-dark-orange);
        font-size: 0.9em;
    }
</style>
