---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Icon } from 'astro-icon/components'

import IndexTeaser from '../components/home/IndexTeaser.astro';
import IndexWelcome from '../components/home/IndexWelcome.astro';
import IndexSocial from '../components/home/IndexSocial.astro';
import IndexStats from '../components/home/IndexStats.astro';
import IndexAboutUs from '../components/home/IndexAboutUs.astro';
import IndexNewsletter from '../components/home/IndexNewsletter.astro';
import IndexCoaches from '../components/home/IndexCoaches.astro';
import IndexContact from '../components/home/IndexContact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<!-- Teaser -->
			<div class="section">
				<IndexTeaser />
			</div>

			<!-- Welcome -->
			<div class="section">
				<IndexWelcome />
			</div>

			<!-- Socials -->
			<div class="section">
				<IndexSocial />
			</div>

			<!-- Stats -->
			<div class="section">
				<IndexStats />
			</div>

			<!-- Video -->
			<div class="section bg-gradient">
				<div class="container">
					<div class="media-round v_placeholder"></div>
				</div>
			</div>
			
			<!-- About Us -->
			<div class="section bg-light">
				<IndexAboutUs />
			</div>

			<!-- Newsletter -->
			<div class="section bg-light">
				<IndexNewsletter />
			</div>

			<!-- Coaches -->
			<div class="section bg-light">
				<IndexCoaches />
			</div>

			<!-- Kontakt -->
			<div class="section bg-light bg-contact">
				<IndexContact />
			</div>

		</main>
		<Footer />
	</body>
</html>

<style>
	body{
		background-color: var(--bootcamp-background);
	}
	.section.bg-gradient{
		background: linear-gradient(0deg, var(--bootcamo-background-light) 50%, var(--bootcamp-background) 50%, var(--bootcamp-background) 100%);
		margin-bottom: 0;
		padding-bottom: 2.5em;
	}
	.section.bg-light{
		margin: 0;
		padding: 2.5em 0;
		background-color: var(--bootcamo-background-light);
	}
	
	.v_placeholder{
		height: 800px;
		width: 800px;
		margin: 0 auto;
		background-color: #fff;
	}
@media(max-width: 1000px){
	.v_placeholder{
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
	}
}

	.bg-contact{
		margin-bottom: -50px!Important;
		padding-top: 2.5em;
		background-image: url(https://future.dasbootcamp.de/wp-content/uploads/2023/09/03e75053-d34a-4fc7-957f-7bec6d4e0d39.webp#302);
		background-size: cover;
		background-position: top center;
	}
	@media (max-width: 1000px) {
		.section.bg-gradient{
			padding-bottom: 1.2em;
		}
		.section.bg-light{
			padding: 1.2em 0;
		}
	}
	
</style>