---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import CatchHeader from '../components/bootcamp/CatchHeader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<CatchHeader topic="Eversports">
			Überschrift
		</CatchHeader>
		</main>
		<Footer />
	</body>
</html>