---
import {Image} from 'astro:assets';
import fitflow from '../../assets/layout/bootcamp-fitflow_rekord_juli_2023.webp';
---

<div class="container grid-50-50">
    <div class="media-round">
        <Image src={fitflow} alt="Bootcamp Leipzig - FitFlow Rekord Juli 2023" width="675"/>
    </div>
    <div class="newsletter">
        <div class="topic">Newsletter</div>
        <h2>Melde dich jetzt für unseren <span class="highlighter">kostenlosen Newsletter</span> an!</h2>
        <p>
            Einfach E-Mail-Adresse eintragen und immer auf dem Laufenden bleiben!
        </p>
        <form method="post" id="newsletter-form">
            <input name="email" placeholder="Deine E-Mailadresse" type="email">
            <span hidden class="wide success">Vielen Dank.</span>
            <span hidden class="wide error">Ein Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.</span>
            <button type="submit" class="button-main">Registrieren</button>
        </form>
        <p class="hint">
            (Wir nutzen Mailchimp zum Versand unseres Newsletters.
            Mit dem Absenden des Formulares bestätigen Sie, dass die Informationen an Mailchimp gesendet und ausschließlich zum Versand des Newsletters genutzt werden.
            Mehr Informationen zum Datenschutz finden Sie auf unserer Datenschutzseite.)
        </p>
    </div>

</div>

<script>
    window.addEventListener("load", () => {
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        const status = params["form-mailer"];
        if (!status) return;
        const className = status === "success" ? "success" : "error";
        document.querySelectorAll(`#newsletter-form > .${className}`).forEach(element => element.removeAttribute("hidden"));
    })
</script>

<style>
    .grid-50-50{
        gap: 55px;
    }
    .topic{
        margin-bottom: 1em;
        color: var(--bootcamp-dark-orange);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.8em;
        font-weight: 500;
    }
    .newsletter{
        align-self: center;
    }
    h2{
        font-size: 2.2em;
        line-height: 1.1;
    }
    p{
        font-weight: 300;
        line-height: 1.6em;
    }
    p.hint{
        margin-top: 2em;
        font-size: 0.75em;
    }
    input{
        width: 100%;
        padding: 14px;
        border-radius: 28px;
        border: 1px solid var(--bootcamp-dark-orange);
        outline: none;
        color: var(--bootcamp-dark-orange);
        resize: none;
        font-size: 0.8em;
    }
    input::placeholder, textarea::placeholder{
        color: var(--bootcamp-dark-orange);
    }
    .success {
        color: green;
    }
    .error {
        color: crimson;
    }
    .button-main{
        width: 100%;
    }
    @media (max-width: 1000px) {
        .grid-50-50{
            gap: 35px;
        }
        .media-round{
            height: fit-content;
        }
        h2{
            font-size: 2em;
        }
    }
    @media(max-width: 740px) {
        .grid-50-50{
            display: grid;
            grid-template-columns: 1fr;
        }
        h2{
            text-align: center;
        }
        .topic{
            text-align: center;
        }
        p{
            text-align: center;
        }
        .newsletter{
            order: 1;
        }
        .media-round{
            order: 2;
        }
    }
</style>
