---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
import SocialIcon from '../../components/bootcamp/SocialIcon.astro';
---

<div class="container col-4 col-md-2">
    <SocialIcon icon='mdi:email-newsletter' descr='Newsletter' href='https://dasbootcamp.de/#newsletter'></SocialIcon>
    <SocialIcon icon='mdi:whatsapp' descr='WhatsApp-Gruppe' href='https://chat.whatsapp.com/DcqoRg85BlL5ikkAVSUiay'></SocialIcon>
    <SocialIcon icon='mdi:instagram' descr='Instagram' href='https://www.instagram.com/das_bootcamp/'></SocialIcon>
    <SocialIcon icon='ph:tiktok-logo' descr='TikTok' href='https://www.tiktok.com/@dasbootcamp'></SocialIcon>
</div>

<style>

</style>
