---
const today = new Date();
import { Image } from "astro:assets"
import logo from "../assets/bc-logo.svg"
---

<footer>
	<div class="container">
		<a href="/">
			<Image src={logo} alt="BootCamp Logo" height={200}/>
		</a>
		<div class="col-4">
			<div>
				<b>Spots</b>
				<ul>
					<li><a href='/''>Richard-Wagner-Hain</a></li>
					<li><a href='/''>Redbull-Arena</a></li>
					<li><a href='/''>Plamengarten</a></li>
					<li><a href='/''>... und viele mehr</a></li>
				</ul>
			</div>
			<div>
				<b>Unsere Partner</b>
				<ul>
					<li><a href='/''>CrossDeLuxe</a></li>
					<li><a href='/''>Decathlon</a></li>
					<li><a href='/''>FlexVit</a></li>
					<li><a href='/''>SportScheck</a></li>
				</ul>
			</div>
			<div>
				<b>Social Media</b>
				<ul>
					<li><a href='https://www.instagram.com/das_bootcamp/' target="_blank">Instagram</a></li>
					<li><a href='https://www.facebook.com/DasBootcamp' target="_blank">Facebook</a></li>
					<li><a href='https://www.linkedin.com/company/das-bootcamp-gmbh/'>LinkedIn</a></li>
					<li><a href='https://www.tiktok.com/@dasbootcamp' target="_blank">TikTok</a></li>
				</ul>	
			</div>
			<div>
				<b>Informationen</b>
				<ul>
					<li><a href='/''>Impressum</a></li>
					<li><a href='/''>Datenschutz</a></li>
					<li><a href='/''>AGB</a></li>
					<li><a href='/''>Kontakt</a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			&copy; {today.getFullYear()} DAS BOOTCAMP GmbH  /  Franzi Thomas | Website: Dominic Sczyrba, d39s.de | Built with Astro ♥
		</div>
	</div>


	

</footer>
<style>
	footer {
		padding: 2em 0em 2em 0em;
		background-color: var(--bootcamp-background);
		color: var(--bootcamp-light-orange);
	}

	b {
		text-align: left;
	}

	ul {
		list-style: none;
		padding-left: 0;
		line-height: 3em;
		font-size: smaller;
	}
	ul a {
		text-decoration: none;
		color: var(--bootcamp-light-orange);
		font-weight: 300;
	}
	ul a:hover {
		color: var(--bootcamp-dark-orange);
	}
	img {
		margin-bottom: 2em;
	}
	.copyright {
		margin-top: 4em;
		font-weight: 300;
		font-size: smaller;
		text-align: center;

	}
	.ul-right {
		text-align: right;
	}
</style>
