---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, 'menu-item', { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		padding: 0.6em 0.6em;
		font-family: 'Gotu', sans-serif;
		display: inline-block;
		text-decoration: none;
		font-size: smaller;
		color: var(--bootcamp-light-orange);
		border-bottom: 4px solid transparent;
	}
	
	@media (min-width: 1000px) {
		a:hover{
			transition: all ease-in-out .2s;
			border-bottom-color: var(--bootcamp-dark-orange);
		}
		a.active {
			font-weight: bolder;
			border-bottom-color: var(--bootcamp-dark-orange);
		}
	}
	@media (max-width: 1000px) {
		a {
			display: block;
			text-align: center;
		}
		a.active {
			color: var(--bootcamp-dark-orange);
		}
	}

</style>
